In [2]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('./EURUSD1440.csv',sep='\t',names=['time','open','high','low','close','volume'])
data

                  time     open     high      low    close   volume
0     2007-01-01 00:00  1.31908  1.32176  1.31650  1.32120  1995282
1     2007-01-02 00:00  1.32137  1.32951  1.32101  1.32724  2009661
2     2007-01-03 00:00  1.32702  1.32903  1.31461  1.31690  2016603
3     2007-01-04 00:00  1.31689  1.31783  1.30704  1.30860  2007990
4     2007-01-05 00:00  1.30866  1.31029  1.29804  1.29995  1916561
...                ...      ...      ...      ...      ...      ...
4489  2021-05-07 00:00  1.20651  1.21713  1.20527  1.21615   128353
4490  2021-05-09 00:00  1.21601  1.21769  1.21600  1.21704     5874
4491  2021-05-10 00:00  1.21704  1.21782  1.21271  1.21405    99036
4492  2021-05-11 00:00  1.21406  1.21815  1.21230  1.21440   104647
4493  2021-05-12 00:00  1.21441  1.21491  1.21153  1.21258    42614

[4494 rows x 6 columns]

In [10]:
data = pd.read_csv('./EUR_USD Historical Data.csv')
data

              Date   Price    Open    High     Low Change %
0     Jan 01, 2021  1.2212  1.2216  1.2217  1.2210   -0.01%
1     Dec 31, 2020  1.2213  1.2298  1.2310  1.2209   -0.67%
2     Dec 30, 2020  1.2295  1.2248  1.2311  1.2246    0.39%
3     Dec 29, 2020  1.2247  1.2217  1.2276  1.2207    0.27%
4     Dec 28, 2020  1.2214  1.2202  1.2251  1.2181    0.08%
...            ...     ...     ...     ...     ...      ...
4954  Jan 07, 2002  0.8935  0.8951  0.8998  0.8880   -0.17%
4955  Jan 04, 2002  0.8950  0.8987  0.9003  0.8937   -0.51%
4956  Jan 03, 2002  0.8996  0.9039  0.9062  0.8976   -0.44%
4957  Jan 02, 2002  0.9036  0.8896  0.9069  0.8883    1.59%
4958  Jan 01, 2002  0.8895  0.8909  0.8913  0.8863   -0.16%

[4959 rows x 6 columns]